<div class="container">
    <div class="main row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col">
                    <h5>Mapa strony</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="{{ site.url }}/o-fundacji">O Fundacji</a></li>
                        <li><a href="{{ site.url }}/zespol">Zespół</a></li>
                        <li><a href="{{ site.url }}/kontakt">Kontakt</a></li>
                        <li><a href="{{ site.url }}/biuro-prasowe">Biuro prasowe</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="row">
                <div class="col">
                    <h5>Nasze witryny</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="http://bip.pl-ips.org">Biuletyn Informacji Publicznej</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="row">
                <div class="col">
                    <h5>Dokumenty</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="https://bip.pl-ips.org/files/polityka-prywatnosci.pdf">Polityka prywatności</a></li>
                        <li><a href="https://bip.pl-ips.org/files/polityka-ciasteczek.pdf">Polityka cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="row">
                <div class="col">
                    <h5>Instytut Progresywnego Społeczeństwa</h5>
                    <p>ul. Twarda 18</p>
                    <p>00-105 Warszawa</p>
                    <p>E-mail: <a href="mailto:kontakt@pl-ips.org"><b>kontakt@pl-ips.org</b></a></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="social list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://fb.me/ipsplorg" class="not-animated" target="_blank">
                                <i class="fab fa-facebook-f fa-lg"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="https://twitter.com/ipsplorg" class="not-animated" target="_blank">
                                <i class="fab fa-twitter fa-lg"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/company/ipsplorg/" class="not-animated" target="_blank">
                                <i class="fab fa-linkedin-in fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center text-center">
    <p>Copyright © <b><a href="http://pl-ips.org">Instytut Progresywnego Społeczeństwa</a></b> 2020. All rights reserved.</p>
</div>