<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Redirect -->
<script type="text/javascript" src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
<!-- Cookies -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Jarallax -->
<script type="text/javascript" src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>
<!-- Jarallax for Video -->
<script type="text/javascript" src="https://unpkg.com/jarallax@1/dist/jarallax-video.min.js"></script>
<!-- Main JS -->
<script type="text/javascript" src="{{ site.url }}/assets/main.js"></script>
