<div class="row">
    <div class="col-12">
        <div class="row team">
            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/patryk-stachowski.png" class="img-fluid" alt="Patryk Stachowski" />

                <div class="description bg-red">
                    <h4>Patryk Stachowski</h4>
                    <p>Prezes Zarządu</p>
                </div>

                <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-4" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light rounded-0">
                            <div class="modal-body">
                                <div class="signature text-center">
                                    <img src="{{ site.url }}/assets/person/patryk-stachowski.png" class="img-fluid rounded-circle" alt="Patryk Stachowski" />
                                    <h4 class="name">Patryk Stachowski</h4>
                                </div>

                                <p>Przedsiębiorca, doradca polityczny, działacz społeczny. Absolwent programów liderskich i szkoleń organizowanych przez takie organizacje jak m.in. <i>Warszawska Akademia Młodych Liderów</i>, czy <i>National Democratic Institute</i>. Twórca strategii wyborczych w kampaniach do Parlamentu Europejskiego oraz Sejmu Reczypospolitej Polskiej. Pomysłodawca oraz Fundator Instytutu Progresywnego Społeczeństwa.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-red rounded-0" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/karolina-molska.png" class="img-fluid" alt="Karolina Molska" />

                <div class="description bg-gray">
                    <h4>Karolina Molska</h4>
                    <p>Członkini Zarządu</p>
                </div>

                <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-4" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light rounded-0">
                            <div class="modal-body">
                                <div class="signature text-center">
                                    <img src="{{ site.url }}/assets/person/karolina-molska.png" class="img-fluid rounded-circle" alt="Karolina Molska" />
                                    <h4 class="name">Karolina Molska</h4>
                                </div>

                                <p>Działaczka społeczna, studentka European Politics and Economics na Uniwersytecie Warszawskim. Redaktora w miesięczniku <i>Wilsoniak</i>. Absolwentka programów liderskich i szkoleń organizowanych przez takie organizacje jak m.in. <i>Warszawska Akademia Młodych Liderów</i>, <i>National Democratic Institute</i>, czy <i>European Wergeland Center</i>.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-red rounded-0" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/kacper-duras.png" class="img-fluid" alt="Kacper Duras" />

                <div class="description bg-red">
                    <h4>Kacper Duras</h4>
                    <p>Członek Zarządu</p>
                </div>

                <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-4" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light rounded-0">
                            <div class="modal-body">
                                <div class="signature text-center">
                                    <img src="{{ site.url }}/assets/person/kacper-duras.png" class="img-fluid rounded-circle" alt="Kacper Duras" />
                                    <h4 class="name">Kacper Duras</h4>
                                </div>

                                <p>Pasjonat tworzenia oprogramowania, certyfikowany m.in. przez Google i Facebook. Doświadczenie regularnie zdobywa w firmach drugiego i organizacjach trzeciego sektora. Techniczna twarz Fundacji - nadzoruje i wykonuje w skomplikowanych warunkach efektywnie niestandardowe zadania.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-red rounded-0" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row team">
            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/marcin-falinski.png" class="img-fluid" alt="Marcin Faliński" />

                <div class="description bg-gray">
                    <h4>Marcin Faliński</h4>
                    <p>Dyrektor Fundacji</p>
                </div>

                <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-4" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light rounded-0">
                            <div class="modal-body">
                                <div class="signature text-center">
                                    <img src="{{ site.url }}/assets/person/marcin-falinski.png" class="img-fluid rounded-circle" alt="Marcin Faliński" />
                                    <h4 class="name">Marcin Faliński</h4>
                                </div>

                                <p>Absolwent Wydziału Dziennikarstwa i Nauk Politycznych Uniwersytetu Warszawskiego, dziennikarz „Życia Warszawy” a od 1993 roku funkcjonariusz Urzędu Ochrony Państwa. Od 1996 roku oficer Zarządu Wywiadu. W roku 1997 ukończył kurs oficerski w Ośrodku Kształcenia Kadr Wywiadowczych. Od 2002 roku oficer Agencji Wywiadu. Uczestnik wielu operacji wywiadowczych za granicą. W 2017 roku, w stopniu podpułkownika, odszedł na emeryturę. Obecnie pisarz, współautor powieści szpiegowskich: Operacja Rafael (2019) i Operacja Singe (2020).</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-red rounded-0" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/monika-fiugajska.png" class="img-fluid" alt="Monika Fiugajska" />

                <div class="description bg-red">
                    <h4>Monika Fiugajska</h4>
                    <p>Koordynatorka ds. wolontariatu</p>
                </div>

                <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-4" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light rounded-0">
                            <div class="modal-body">
                                <div class="signature text-center">
                                    <img src="{{ site.url }}/assets/person/monika-fiugajska.png" class="img-fluid rounded-circle" alt="Monika Fiugajska" />
                                    <h4 class="name">Monika Fiugajska</h4>
                                </div>

                                <p>Studentka stosunków międzynarodowych na Collegium Civitas. Asystentka społeczna posła na Sejm Rzeczypospolitej Polskiej IX kadencji Krzysztofa Gawkowskiego. Zaangażowana w akcje ochrony klimatu, rozwoju kultury i społeczeństwa obywatelskiego.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-red rounded-0" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/jan-spiewak.png" class="img-fluid" alt="Jan Śpiewak" />

                <div class="description bg-gray">
                    <h4>Jan Śpiewak</h4>
                    <p>Szef działu analiz</p>
                </div>

                <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-4" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light rounded-0">
                            <div class="modal-body">
                                <div class="signature text-center">
                                    <img src="{{ site.url }}/assets/person/jan-spiewak.png" class="img-fluid rounded-circle" alt="Jan Śpiewak" />
                                    <h4 class="name">Jan Śpiewak</h4>
                                </div>

                                <p>Społecznik, aktywista, publicysta i socjolog. Założyciel stowarzyszenia Miasto Jest Nasze. Prezes stowarzyszenia Wolne Miasto Warszawa i wiceprezes stowarzyszenia Energia Miast. Autor książki pt. <i>Ukradzione Miasto</i>, która opisuje kulisy wybuchu afery reprywatyzacyjnej.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-red rounded-0" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row team">
            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/magdalena-kazmierczak.png" class="img-fluid" alt="Magdalena Kaźmierczak" />

                <div class="description bg-red">
                    <h4>Magdalena Kaźmierczak</h4>
                    <p>Doradczyni ds. strategii</p>
                </div>

                <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-4" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light rounded-0">
                            <div class="modal-body">
                                <div class="signature text-center">
                                    <img src="{{ site.url }}/assets/person/magdalena-kazmierczak.png" class="img-fluid rounded-circle" alt="Magdalena Kaźmierczak" />
                                    <h4 class="name">Magdalena Kaźmierczak</h4>
                                </div>

                                <p>Dyplomowana psycholożka, wieloletnia pracowniczka branży reklamowej, marketingowej i eventowej. Doświadczona koordynatorka projektów z różnych obszarów i branż. Szefowa logistyki krajowej partii Wiosna Roberta Biedronia w kampanii wyborczej do Parlamentu Europejskiego. Aktywistka, feministka i orędowniczka działań na rzecz kobiet, w latach 2016-2020 prowadziła założoną przez siebie Fundację „Moja Sąsiadka”.  Włada biegle językiem angielskim, którym posługiwała się przez wiele lat w biznesie, a także w rolach nauczycielki, recenzentki i tłumaczki na język polski anglojęzycznych książek. Zna również podstawy niemieckiego i francuskiego oraz posługuje się językiem czeskim w stopniu średniozaawansowanym. Dobrze zorganizowana i dokładna w swojej pracy, zwraca uwagę na szczegóły oraz kładzie nacisk na klarowną i bezprzemocową komunikację oraz transparentność działań.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-red rounded-0" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/jagoda-gmachowska.png" class="img-fluid" alt="Jagoda Gmachowska" />

                <div class="description bg-gray">
                    <h4>Jagoda Gmachowska</h4>
                    <p>Doradczyni ds. społecznych</p>
                </div>

                <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-4" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light rounded-0">
                            <div class="modal-body">
                                <div class="signature text-center">
                                    <img src="{{ site.url }}/assets/person/jagoda-gmachowska.png" class="img-fluid rounded-circle" alt="Jagoda Gmachowska" />
                                    <h4 class="name">Jagoda Gmachowska</h4>
                                </div>

                                <p>Feministka, wegetarianka, aktywistka społeczna. Osoba głęboko zaangażowana w sprawy społeczno-polityczne. Pomysłodawczyni ogólnopolskiego stotowarzyszenia Wiosna Bez Barier – sieci dla aktywnych osób z niepełnosprawnościami. Wolontariuszka społeczna w Biurze Rzecznika Praw Obywatelskich.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-red rounded-0" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 person">
                <img src="{{ site.url }}/assets/person/pytajnik.png" class="img-fluid" alt="Pytajnik" />

                <div class="description bg-red">
                    <h4>Wkrótce</h4>
                    <p>Reszta ekspertów niebawem...</p>
                </div>
            </div>
        </div>
    </div>
</div>
