---
layout: default
---

<section class="jarallax jumbotron rounded-0 vh-100" data-jarallax-video="mp4:{{ site.url }}/assets/parallax.mp4,webm:{{ site.url }}/assets/parallax.webm,ogv:{{ site.url }}/assets/parallax.ogv" data-jarallax data-speed="1">
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
        <div class="container h-100 w-100 d-flex justify-content-center align-items-end">
            <div class="row">
                <div class="col-12 my-auto slogan">

                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12">
                                <span class="txt-rotate" data-rotate='[ "Jesteśmy think-tankiem lepszej zmiany.", "Wspólnie możemy więcej.", "Razem damy radę." ]'></span>
                                <p>Zobacz, czym się zajmujemy i działaj z nami.</p>

                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item">
                                        <a href="{{ site.url }}/o-fundacji" class="not-animated">
                                            <button type="button" class="btn bg-red rounded-0">O Fundacji</button>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="{{ site.url }}/zespol" class="not-animated">
                                            <button type="button" class="btn bg-red rounded-0">Zespół</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{{ content }}
